<%- include('./partials/header')%>
<!-- About section start -->
<section class="container-fluid mt-5  about-style " id="aboutid">
    <section class="row">
      <section class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About Us</h1>
        <p class="text-center sub-heading">grow your business with us</p>
        <section class="row">
          <section class="col-md-6 col-12 main-text order-md-0 order-1">
            <figure>
            <img id="growth" src="/images/about.svg" alt="">
            </figure>
          
        </section>
  
  
          <!-- right side -->
          
          <section class=" home-text col-md-6 col-12 main-text order-md-1 order-0 d-flex justify-content-center align-items-start flex-column">
            <h1>We Are The Team Of <span class="bold-style">Professional Developer✌️</span> </h1>
          
            <p>Welcome To <span class="bold-style">Abhi World </span> . Your Number One Source For All Things . We're Dedicated To Giving you the very best Of Work . With A Focus On {Three characteristics, Ie: Dependability. Customer Service And Uniqueness.}</p>
            <button class= "btn-style btn-primary">Read More</button>
          </section> 
        </section>
      </section>
    </section>
  </section>
  
  <!-- abouot section end -->
  
  <%- include('./partials/footer')%>